/*grund gerüst*/
.clock {
    background: #ececec;
    width: 75px;
    height: 75px;
    margin: 0;
    border-radius: 50%;
    border: 3.5px solid #333;
    position: relative;
    box-shadow: 0 0.25vw 0.5vw -0.125vw rgba(0, 0, 0, 0.8);
}


/*punkt in der mitte*/
.dot {
    width: 3.5px;
    height: 3.5px;
    border-radius: 50%;
    background: #ccc;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    z-index: 8;
    box-shadow: 0 0.5px 1px -0.25px black;
}

/*stundenzeiger*/
.hour-hand {
    position: absolute;
    z-index: 5;
    width: 1px;
    height: 16.25px;
    background: #333;
    top: 19.75px;
    transform-origin: 50% 18px;
    left: 50%;
    margin-left: -0.5px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

/*minutenzeiger*/
.minute-hand {
    position: absolute;
    z-index: 6;
    width: 1px;
    height: 25px;
    background: #666;
    top: 11.5px;
    left: 50%;
    margin-left: -0.5px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform-origin: 50% 26.25px;
}

/*sekundenzeiger*/
.second-hand {
    position: absolute;
    z-index: 7;
    width: 0.5px;
    height: 30px;
    background: #FF0000;
    top: 6.5px;
    left: 50%;
    margin-left: -0.25px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform-origin: 50% 31.25px;
}


span {
    display: inline-block;
    position: absolute;
    color: #333;
    font-size: 5.5px;
    font-family: 'Poiret One';
    font-weight: 700;
    z-index: 4;
}

/*ziffer 12 auf der uhr*/
.h12 {
    top: 7.5px;
    left: 50%;
    margin-left: -2.25px;
}

/*ziffer 3 auf der uhr*/
.h3 {
    top: 35px;
    right: 7.5px;
}

/*ziffer 6 auf der uhr*/
.h6 {
    bottom: 7.5px;
    left: 50%;
    margin-left: -1.25px;
}

/*ziffer 9 auf der uhr*/
.h9 {
    left: 8px;
    top: 35px;
}

/*linien*/
.diallines {
    position: absolute;
    z-index: 2;
    width: 0.5px;
    height: 3.75px;
    background: #666;
    left: 50%;
    margin-left: -0.25px;
    transform-origin: 50% 37.5px;
}

/*linien*/
.diallines:nth-of-type(5n) {
    position: absolute;
    z-index: 2;
    width: 1px;
    height: 6.25px;
    background: #666;
    left: 50%;
    margin-left: -0.5px;
    transform-origin: 50% 37.5px;
}


/*info für wochentag und datum*/
.info {
    position: absolute;
    width: 45px;
    height: 8.5px;
    border-radius: 3.5px;
    background: #ccc;
    text-align: center;
    line-height: 9px;
    color: #000;
    font-size: 6px;
    top: 50px;
    left: 50%;
    margin-left: -22.5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    z-index: 3;
    letter-spacing: 1px;
}


/*position für das datum*/
.date {
    top: 21px;
}

/*position für den Wochentag*/
.day {
    top: 46px;
    line-height: 9.5px;
}
